@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #1e1e1e;
  color: #fff;
  font-family: Nunito;
  font-size: 1.5rem;
  box-sizing: border-box;
}
